flask
flask_sqlalchemy
flask_login
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
cryptography
requests
beautifulsoup4
selenium
webdriver-manager
pytest
pytest-flask
pytest-cov
psycopg2-binary 